@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

.bg-perzonalizado{
	background: #1197D5 !important;
}
article img{
	text-align: right;
}
#wsp-logo{
	position: fixed;
	bottom: 50px;
	right: 30px;
}
#bg-perzonalizado{
	background: #1197D5;
}
.productos3D__tittle--whiteSmoke{
	color:whitesmoke ;
}
.productosRus__tittle--bg-perzonalizado{
	color: #1197D5;
}
.TittleBlack{
	color: black;
	text-decoration: none;
}
h1, h2, h3, h4, p, a, li{
	font-family: 'Roboto Condensed', sans-serif;
}
/* Start: Google Maps Responsive */
.map-responsive {
    overflow:hidden;
    padding-bottom:400px; /*Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50%*/
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* End: Google Maps Responsive */
nav ol li a{
	color: #1197D5;
}
article nav ol li a{
	color: #fff;
}
div ul li a{
	color: #fff;
}
#nav-link{
	color: #fff;
}
#error404{
	font-size: 120px;
	color: black;
	font-family: 'Dosis', sans-serif;
}
#error404Pagina{
	font-size: 50px;
	font-family: 'Dosis', sans-serif;
}
#seguirNav{
	font-size: 30px;
	text-align: left;
	font-family: 'Dosis', sans-serif;
}
